.progress_bar_container{
  background: rgba(255,255,255,0.05);
  height: 10px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.progress_bar{
  background: linear-gradient(to left, #ff1744, #d500f9);
  height: 10px;
  opacity: 0;
  transform-origin: top left;
  transform: scale(0,0);
}
.article{
  clear: both;
  display: block;
  float:left;
  font: normal 20px/40px 'robotoregular', Helvetica, Arial;
  margin: 0;
  padding: 0;
  width: 100%;
}
